footer a {
    color: #b1afaf;
}

.bottom-banner {
    background: #2E2E2E
}

div.footer-copyright {
    background: #212121;
    text-align: center;
    padding: 10px 0 10px;
}

/* Fixer bug som får hoizontal slidebar til at dukke op*/
.row {
    margin-left: 0;
    margin-right: 0;
}
